@keyframes fadeio {
  /*设置内容由显示变为隐藏*/
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeio {
  /*设置内容由显示变为隐藏*/
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeio {
  /*设置内容由显示变为隐藏*/
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeio {
  /*设置内容由显示变为隐藏*/
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

$--fade-duration:.3s;
.chas-animation-fade {
  animation: fadeio ease-in-out $--fade-duration;
  -webkit-animation: fadeio ease-in-out $--fade-duration;
  -moz-animation: fadeio ease-in-out $--fade-duration;
  -o-animation: fadeio ease-in-out $--fade-duration;
}

@keyframes flyIn {
  /*设置内容由显示变为隐藏*/
  0% {
    opacity: 0;
    transform:translate(-100%,-100%);
    -ms-transform:translate(-100%,-100%);
  }
  25% {
    opacity: 0.4;
    transform:translate(-60%,-60%);
    -ms-transform:translate(-60%,-60%);
  }
  50% {
    opacity: 0.6;
    transform:translate(-40%,-40%);
    -ms-transform:translate(-40%,-40%);
  }
  75% {
    opacity: 0.8;
    transform:translate(-20%,-20%);
    -ms-transform:translate(-20%,-20%);
  }
  100% {
    opacity: 1;
    transform:translate(0,0);
    -ms-transform:translate(0,0);
  }
}
@-moz-keyframes flyIn {
  0% {
    opacity: 0;
    -moz-transform:translate(-100%,-100%);
  }
  25% {
    opacity: 0.4;
    -moz-transform:translate(-60%,-60%);
  }
  50% {
    opacity: 0.6;
    -moz-transform:translate(-40%,-40%);
  }
  75% {
    opacity: 0.8;
    -moz-transform:translate(-20%,-20%);
  }
  100% {
    opacity: 1;
    -moz-transform:translate(0,0);
  }
}
@-webkit-keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-transform:translate(-100%,-100%);
  }
  25% {
    opacity: 0.4;
    -webkit-transform:translate(-60%,-60%);
  }
  50% {
    opacity: 0.6;
    -webkit-transform:translate(-40%,-40%);
  }
  75% {
    opacity: 0.8;
    -webkit-transform:translate(-20%,-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0,0);
  }
}
@-o-keyframes flyIn {
  0% {
    opacity: 0;
    -o-transform:translate(-100%,-100%);
  }
  25% {
    opacity: 0.4;
    -o-transform:translate(-60%,-60%);
  }
  50% {
    opacity: 0.6;
    -o-transform:translate(-40%,-40%);
  }
  75% {
    opacity: 0.8;
    -o-transform:translate(-20%,-20%);
  }
  100% {
    opacity: 1;
    -o-transform:translate(0,0);
  }
}
$--flyin-duration:.3s;
.chas-animation-flyin {
  animation: flyIn ease-in-out $--flyin-duration;
  -webkit-animation: flyIn ease-in-out $--flyin-duration;
  -moz-animation: flyIn ease-in-out $--flyin-duration;
  -o-animation: flyIn ease-in-out $--flyin-duration;
}